# Project exclude paths
/.gradle/
/Numeric Matrix Processor/task/build/
/Numeric Matrix Processor/task/out/
/Numeric Matrix Processor/task/out/production/classes/
/Problems/Alternating Fibonacci numbers/out/
/Problems/Alternating Fibonacci numbers/out/production/classes/
/Problems/Check sudoku/out/
/Problems/Check sudoku/out/production/classes/
/Problems/Fix the method to print strings in the reverse order/out/
/Problems/Fix the method to print strings in the reverse order/out/production/classes/
/Problems/K-combination/out/
/Problems/K-combination/out/production/classes/
/Problems/N-th power/out/
/Problems/N-th power/out/production/classes/
/Problems/Number of decompositions/out/
/Problems/Number of decompositions/out/production/classes/
/Problems/Queens/out/
/Problems/Queens/out/production/classes/
/Problems/Start sequence of words/out/
/Problems/Start sequence of words/out/production/classes/